---
# This is the default template. It covers the entire HTML page and includes the header.html and footer.html.
---

<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
    <script src="{{site.url}}/assets/js/scripts.js"></script>
    
    <title>{% if page.title %}{{ page.title }} | {{site.name}}{% else %}{{ site.name }}{% endif %}</title>
  </head>

<body {% if %page.home %}class="home"{% endif %}>

{% include header.html %}

<main>
  {{content}}
</main>

{% include footer.html %}

</body>

</html>